.product-details {
  max-width: 50rem;
  margin: 0 auto;
}
.product-details__image {
  float: left;
  width: 16rem;
  margin-right: 1rem;
}

.product-details__specs {
  clear: left;
}

@media (min-width: 60rem) {
  .product-details__image {
    float: left;
  }
  .product-details__specs {
    clear: none;
  }
}
